<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMEPTitle24.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GMEPTitle24.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=gmep-design-tool-test.ch8c88cauy2x.us-west-1.rds.amazonaws.com;Port=3306;Database=gmep-design-tool;User Id=admin;Password=f51Vu3o5Qlc140r;</value>
            </setting>
        </GMEPTitle24.Properties.Settings>
    </userSettings>
</configuration>